[KMahjonggLayout]
Name=Bug
Name[ru]=Жук
Name[de]=Wanze
Name[fr]=Insecte
Name[es]=Bicho

Description=The bug. Let us take it apart!
Description[ru]=Жук. Оставьте нас в стороне!
Description[de]=Entfernen Sie die Wanze.
Description[fr]=L'insecte. Essayons de l'éloigner !
Description[es]=El bicho. ¡Desmontémoslo!

Author=KDE Games team
Author[ru]=Команда KDE Games
Author[de]=Das Team von KDE Games
Author[fr]=Equipe des jeux KDE
Author[es]=Equipo de KDE de juegos

VersionFormat=1
FileName=bug.layout.layout
AuthorEmail=kde-games-devel@kde.org
