[KMahjonggLayout]
Name=Castle
Name[ru]=Замок
Name[de]=Burg
Name[fr]=Château
Name[es]=Castillo

Description=Vista-styled castle layout
Description[ru]=Раскладка замка
Description[de]=Eine Burg im Vista-Stil.
Description[fr]=Forme d'un chateau dans le style Vista
Description[es]=Diseño en forma de castillo estilo Vista

Author=alchark
Author[de]=alchark
Author[fr]=alchark
Author[es]=alchark

VersionFormat=1
FileName=castle.layout.layout
AuthorEmail=alchark@gmail.com
