[KMahjonggLayout]
Name=Default
Name[ru]=По умолчанию
Name[de]=Standard
Name[fr]=Par défaut
Name[es]=Predeterminado

Description=Default KMahjongg game layout
Description[ru]=Игровая раскладка по умолчанию
Description[de]=Standard-Design für KMahjongg.
Description[fr]=Disposition par défaut du jeu KMahjongg
Description[es]=Diseño de juego predeterminado de KMahjongg

Author=KDE Games team
Author[ru]=Команда KDE Games
Author[de]=Das Team von KDE Games
Author[fr]=Equipe des jeux KDE
Author[es]=Equipo de KDE de juegos

VersionFormat=1
FileName=default.layout.layout
AuthorEmail=kde-games-devel@kde.org
