[KMahjonggLayout]
Name=Helios
Name[ru]=Гелиос
Name[de]=Helios
Name[fr]=Helios
Name[es]=Helios
Name[hi]=हेलियोस

Description=The greek Sun god's sign
Description[ru]=Знак греческого бога Солнца
Description[de]=Das Zeichen des griechischen Sonnengotts.
Description[fr]=Le signe du dieu grec du soleil
Description[es]=El símbolo del dios griego del Sol
Description[hi]=यूनानी सूर्य देवता का निशान

Author=KDE Games team
Author[ru]=Команда KDE Games
Author[de]=Das Team von KDE Games
Author[fr]=Equipe des jeux KDE
Author[es]=Equipo de KDE de juegos
Author[hi]=KDE खेल दल

VersionFormat=1
FileName=helios.layout
AuthorEmail=kde-games-devel@kde.org
