[KMahjonggLayout]
Name=Maya
Name[ru]=Майя
Name[de]=Maya
Name[fr]=Maya
Name[es]=Maya

Description=A layout resembling Maya pyramids
Description[ru]=Раскладка, похожая на пирамиды Майя
Description[de]=Dieses Design zeigt Maya-Pyramiden (Stufenpyramiden).
Description[fr]=Une forme similaire aux pyramides Maya
Description[es]=Un diseño que se asemeja a las pirámides mayas

Author=KDE Games team
Author[ru]=Команда KDE Games
Author[de]=Das Team von KDE Games
Author[fr]=Equipe des jeux KDE
Author[es]=Equipo de KDE de juegos

VersionFormat=1
FileName=maya.layout.layout
AuthorEmail=kde-games-devel@kde.org
