[KMahjonggLayout]
Name=Pattern
Name[ru]=Орнамент
Name[de]=Muster
Name[fr]=Motif
Name[es]=Diseño

Description=A mysterious pattern atop rectangular blocks
Description[ru]=Таинственны орнамент из прямоугольных блоков
Description[de]=Ein geheimnisvolles Muster auf Rechtecken.
Description[fr]=Un motif mystérieux avec des blocs rectangulaires aux extrémités
Description[es]=Un diseño misterioso sobre bloques rectangulares

Author=KDE Games team
Author[ru]=Команда KDE Games
Author[de]=Das Team von KDE Games
Author[fr]=Equipe des jeux KDE
Author[es]=Equipo de KDE de juegos

VersionFormat=1
FileName=pattern.layout.layout
AuthorEmail=kde-games-devel@kde.org
