[KMahjonggLayout]
Name=Rocket
Name[ru]=Ракета
Name[de]=Rakete
Name[fr]=Missile
Name[es]=Cohete

Description=A rocket for you to launch off the board
Description[ru]=Можно запустить ракету с доски
Description[de]=Eine Rakete, die das Spielfeld verlassen möchte.
Description[fr]=Une roquette à envoyer hors du plateau
Description[es]=Un cohete para lanzar desde el tablero

Author=KDE Games team
Author[ru]=Команда KDE Games
Author[de]=Das Team von KDE Games
Author[fr]=Equipe des jeux KDE
Author[es]=Equipo de KDE de juegos

VersionFormat=1
FileName=rocket.layout.layout
AuthorEmail=kde-games-devel@kde.org
