[KMahjonggLayout]
Name=Spider
Name[ru]=Паук
Name[de]=Spinne
Name[fr]=Araignée
Name[es]=Araña

Description=Vista-styled spider layout
Description[ru]=Раскладка в виде паука
Description[de]=Eine Spinne im Vista-Stil.
Description[fr]=Forme d'une araignée dans le style Vista
Description[es]=Diseño en forma de araña estilo Vista

Author=alchark
Author[de]=alchark
Author[fr]=Equipe des jeux KDE
Author[es]=Equipo de KDE de juegos

VersionFormat=1
FileName=spider.layout.layout
AuthorEmail=alchark@gmail.com
