[KMahjonggLayout]
Name=Squaring
Name[ru]=Квадрат в квадрате
Name[de]=Quadratur
Name[fr]=Quadrature
Name[es]=Cuadrando

Description=Who said squares are flat?
Description[ru]=Кто сказал, что квадраты плоские?
Description[de]=Wer behauptet, dass Quadrate flach sind?
Description[fr]=Qui a dit que les carrés sont plats ?
Description[es]=¿Quién dijo que los cuadrados eran planos?

Author=KDE Games team
Author[ru]=Команда KDE Games
Author[de]=Das Team von KDE Games
Author[fr]=Equipe des jeux KDE
Author[es]=Equipo de KDE de juegos

VersionFormat=1
FileName=squaring.layout.layout
AuthorEmail=kde-games-devel@kde.org
