[KMahjonggLayout]
Name=Squares
Name[ru]=Квадраты
Name[de]=Quadrate
Name[fr]=Carrés
Name[es]=Cuadrados

Description=Concentric squares of alterating height
Description[ru]=Концентрические квадраты различной высоты
Description[de]=Konzentrische Quadrate mit verschiedenen Höhen.
Description[fr]=Des carrés concentriques d'une hauteur différente
Description[es]=Cuadrados concéntricos de altura alterna

Author=KDE Games team
Author[ru]=Команда KDE Games
Author[de]=Das Team von KDE Games
Author[fr]=Equipe des jeux KDE
Author[es]=Equipo de KDE de juegos

VersionFormat=1
FileName=squares.layout.layout
AuthorEmail=kde-games-devel@kde.org
