[KMahjonggLayout]
Name=Star
Name[ru]=Звезда
Name[de]=Stern
Name[fr]=Étoile
Name[es]=Estrella

Description=An asterisk-shaped embossed layout
Description[ru]=Рельефная раскладка в виде звезды
Description[de]=Ein sternförmiges Design.
Description[fr]=Une astérisque en relief
Description[es]=Un diseño en forma de asterisco en relieve

Author=KDE Games team
Author[ru]=Команда KDE Games
Author[de]=Das Team von KDE Games
Author[fr]=Equipe des jeux KDE
Author[es]=Equipo de KDE de juegos

VersionFormat=1
FileName=star.layout.layout
AuthorEmail=kde-games-devel@kde.org
