[KMahjonggLayout]
Name=Temple
Name[ru]=Храм
Name[de]=Tempelanlage
Name[fr]=Temple
Name[es]=Templo

Description=A temple-shaped layout
Description[ru]=Раскладка в виде храма
Description[de]=Ein tempelförmiges Design.
Description[fr]=Une forme de temple
Description[es]=Un diseño en forma de templo

Author=KDE Games team
Author[ru]=Команда KDE Games
Author[de]=Das Team von KDE Games
Author[fr]=Equipe des jeux KDE
Author[es]=Equipo de KDE de juegos

VersionFormat=1
FileName=temple.layout.layout
AuthorEmail=kde-games-devel@kde.org
