[KMahjonggLayout]
Name=Triangle
Name[ru]=Треугольник
Name[de]=Dreieck
Name[fr]=Triangle
Name[es]=Triángulo

Description=Triangular pyramid
Description[ru]=Треугольная пирамида
Description[de]=Eine dreieckige Pyramide.
Description[fr]=Pyramide triangulaire
Description[es]=Pirámide triangular

Author=KDE Games team
Author[de]=Das Team von KDE Games
Author[fr]=Equipe des jeux KDE
Author[es]=Equipo de KDE de juegos

VersionFormat=1
FileName=triangle.layout.layout
AuthorEmail=kde-games-devel@kde.org
