[KMahjonggLayout]
Name=Vi
Name[ru]=Vi
Name[de]=Vi
Name[fr]=V
Name[es]=Uve

Description=A V-shaped layout with thick lower corners
Description[ru]=V-образная раскладка с толстыми краями внизу
Description[de]=Ein V-förmiges Design mit dicken unteren Ecken.
Description[fr]=La forme d'un V avec des bords élargis en bas
Description[es]=Un diseño en forma de V con gruesos ángulos inferiores

Author=KDE Games team
Author[ru]=Команда KDE Games
Author[de]=Das Team von KDE Games
Author[fr]=Equipe des jeux KDE
Author[es]=Equipo de KDE de juegos

VersionFormat=1
FileName=Vi.layout.layout
AuthorEmail=kde-games-devel@kde.org
