[KMahjonggLayout]
Name=X-shaped
Name[ru]=Х-образный
Name[de]=X-förmig
Name[fr]=Forme X
Name[es]=En forma de X

Description=A large letter X made of mahjongg tiles
Description[ru]=Большая буква X из фишек Маджонг
Description[de]=Das große X aus Mahjongg-Spielsteinen.
Description[fr]=Une grande lettre X faite avec des tuiles Mahjongg
Description[es]=Una gran letra X hecha de fichas de Mahjongg

Author=KDE Games team
Author[ru]=Команда KDE Games
Author[de]=Das Team von KDE Games
Author[fr]=Equipe des jeux KDE
Author[es]=Equipo de KDE de juegos

VersionFormat=1
FileName=X_shaped.layout.layout
AuthorEmail=kde-games-devel@kde.org
