[KMahjonggLayout]
Name=Alien
Name[ru]=Чужой
Name[de]=Außerirdischer
Name[fr]=Extra-terrestre
Name[es]=Alien

Description=A humanoid made up of Mahjongg tiles
Description[ru]=Похоже, что плитки расставляли гуманоиды
Description[de]=Ein menschenähnliches Wesen aus Mahjongg-Spielsteinen.
Description[fr]=Graphisme inspiré des tuiles faites à la main du Mahjongg
Description[es]=Humanoide hecho de fichas de Mahjongg

Author=KDE Games team
Author[ru]=Команда KDE Games
Author[de]=Das Team von KDE Games
Author[fr]=Equipe des jeux KDE
Author[es]=Equipo de KDE de juegos

VersionFormat=1
FileName=alien.layout.layout
AuthorEmail=kde-games-devel@kde.org
