[KMahjonggLayout]
Name=Arrow
Name[ru]=Стрела
Name[de]=Pfeil
Name[fr]=Flèche
Name[es]=Flecha

Description=A big arrow pointing in the right direction
Description[ru]=Большая стрела, указывающая направо
Description[de]=Ein großer, nach rechts zeigender Pfeil.
Description[fr]=Une grosse flèche pointant vers la droite
Description[es]=Una gran flecha que apunta en la dirección correcta

Author=KDE Games team
Author[ru]=Команда KDE Games
Author[de]=Das Team von KDE Games
Author[fr]=Equipe des jeux KDE
Author[es]=Equipo de KDE de juegos

VersionFormat=1
FileName=arrow.layout.layout
AuthorEmail=kde-games-devel@kde.org
