[KMahjonggLayout]
Name=Butterfly
Name[ru]=Бабочка
VersionFormat=1
Author=KDE Games team
AuthorEmail=kde-games-devel@kde.org
FileName=butterfly.layout
