[KMahjonggLayout]
Name=Chip
Name[ru]=Матрица
Name[de]=Baustein
Name[fr]=Puce électronique
Name[es]=Chip

Description=An electronic component with many connectors
Description[ru]=Электронный компонент с соединителями
Description[de]=Ein elektronischer Baustein mit vielen Anschlüssen.
Description[fr]=Une puce électronique avec de nombreuses pattes
Description[es]=Un componente electrónico con muchos conectores

Author=KDE Games team
Author[ru]=Команда KDE Games
Author[de]=Das Team von KDE Games
Author[fr]=Equipe des jeux KDE
Author[es]=Equipo de KDE de juegos

VersionFormat=1
FileName=chip.layout.layout
AuthorEmail=kde-games-devel@kde.org
