[KMahjonggLayout]
Name=Dragon
Name[ru]=Дракон
Name[de]=Drache
Name[fr]=Dragon
Name[es]=Dragón

Description=Vista-styled dragon layout
Description[ru]=Раскладка в виде дракона
Description[de]=Ein Drache im Vista-Stil.
Description[fr]=Forme d'un dragon dans le style Vista
Description[es]=Diseño en forma de dragón estilo Vista

Author=alchark
Author[de]=alchark
Author[fr]=alchark
Author[es]=alchark

VersionFormat=1
FileName=dragon.layout.layout
AuthorEmail=alchark@gmail.com
