[KMahjonggLayout]
Name=Flowers
Name[ru]=Цветы
Name[de]=Blumen
Name[fr]=Fleurs
Name[es]=Flores

Description=A layout consisting of six flowers
Description[ru]=Раскладка, содержащая шесть цветов
Description[de]=Ein Design aus sechs Blumen.
Description[fr]=Une forme constituée de six fleurs
Description[es]=Un diseño que consiste en seis flores

Author=KDE Games team
Author[ru]=Команда KDE Games
Author[de]=Das Team von KDE Games
Author[fr]=Equipe des jeux KDE
Author[es]=Equipo de KDE de juegos

VersionFormat=1
FileName=flowers.layout.layout
AuthorEmail=kde-games-devel@kde.org
