[KMahjonggLayout]
Name=Star Ship
Name[ru]=Звёздный корабль
Name[de]=Raumschiff
Name[fr]=Vaisseau spatial
Name[es]=Nave espacial

Description=A sci-fi space transport
Description[ru]=Фантастический звёздный транспорт
Description[de]=Ein zukunftsmäßiger Raumtransporter.
Description[fr]=Un transport spatial de science fiction
Description[es]=Un transporte espacial de ciencia ficción

Author=KDE Games team
Author[ru]=Команда KDE Games
Author[de]=Das Team von KDE Games
Author[fr]=Equipe des jeux KDE
Author[es]=Equipo de KDE de juegos

VersionFormat=1
FileName=star_ship.layout.layout
AuthorEmail=kde-games-devel@kde.org
