[KMahjonggLayout]
Name=Theatre
Name[ru]=Театр
Name[de]=Theater
Name[fr]=Théatre
Name[es]=Teatro

Description=A rectangular building with empty space in the middle
Description[ru]=Прямоугольное здание с пустотой в середине
Description[de]=Ein rechteckiges Gebilde mit einen leeren Raum in der Mitte.
Description[fr]=Un bâtiment rectangulaire avec un espace vide au centre
Description[es]=Un edificio rectangular con un espacio vacío en el centro

Author=KDE Games team
Author[ru]=Команда KDE Games
Author[de]=Das Team von KDE Games
Author[fr]=Equipe des jeux KDE
Author[es]=Equipo de KDE de juegos

VersionFormat=1
FileName=theatre.layout.layout
AuthorEmail=kde-games-devel@kde.org
