[KMahjonggLayout]
Name=Time Tunnel
Name[ru]=Тоннель времени
Name[de]=Zeittunnel
Name[fr]=Tunnel temporel
Name[es]=Túnel del tiempo

Description=A pyramid with a hole in the middle
Description[ru]=Пирамида с дыркой в середине
Description[de]=Eine Pyramide mit einem Loch in der Mitte.
Description[fr]=Une pyramide comportant un trou en son centre
Description[es]=Una pirámide con un agujero en medio

Author=KDE Games team
Author[ru]=Команда KDE Games
Author[de]=Das Team von KDE Games
Author[fr]=Equipe des jeux KDE
Author[es]=Equipo de KDE de juegos

VersionFormat=1
FileName=time_tunnel.layout.layout
AuthorEmail=kde-games-devel@kde.org
