[KMahjonggLayout]
Name=Volcano
Name[ru]=Вулкан
Name[de]=Vulkan
Name[fr]=Volcan
Name[es]=Volcan
Name[hi]=ज्वालामुखी


Author=KDE Games team
Author[ru]=Команда KDE Games
Author[de]=Das Team von KDE Games
Author[fr]=Equipe des jeux KDE
Author[es]=Equipo de KDE de juegos
Author[hi]=KDE खेल दल

VersionFormat=1
FileName=volcano.layout
AuthorEmail=kde-games-devel@kde.org
